.button-container {
  display: flex;
  justify-content: space-evenly;
}

button {
  width: auto;
}

#list-buttons {
  display: flex;
}
#list-buttons > button {
  margin-inline: .25rem;
}

#todo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

#list {
  grid-area: 1 / 2 / 2 / 3;
}

#form {
  grid-area: 1 / 1 / 2 / 2
}

h2 {
  text-align: center;
  text-decoration: underline;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

